<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.radio6ense.radioScan"
    android:versionCode="2"
    android:versionName="1.2.1" >

    <uses-sdk android:minSdkVersion="10" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme" android:description="@string/easy_controller_products_description">
        <activity
            android:name="com.radio6ense.radioScan.RadioscanControllerActivity"
            android:configChanges="orientation"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.radio6ense.radioScan.TCPSelection"
            android:configChanges="orientation"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name="com.radio6ense.radioScan.BTSelection"
            android:configChanges="orientation"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name="com.radio6ense.radioScan.InventoryActivity"
            android:configChanges="orientation"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.radio6ense.radioScan.ConfigurationActivity"
            android:configChanges="orientation" >
        </activity>
        <activity
            android:name="com.radio6ense.radioScan.ReaderConfigurationActivity"
            android:configChanges="orientation" >
        </activity>
        <activity
            android:name="com.radio6ense.radioScan.ProtocolConfigurationActivity"
            android:configChanges="orientation" >
        </activity>
        <activity
            android:name="com.radio6ense.radioScan.AntennaConfigurationActivity"
            android:configChanges="orientation" >
        </activity>
        <activity
            android:name="com.radio6ense.radioScan.PreferencesActivity"
            android:configChanges="orientation" >
        </activity>
        <activity
            android:name="com.radio6ense.radioScan.InventoryModeActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:theme="@android:style/Theme" >
        </activity>
        <activity
            android:name="com.radio6ense.radioScan.ProgramIDActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:theme="@android:style/Theme" >
        </activity>
        <activity
            android:name="com.radio6ense.radioScan.ReadAndWriteActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:theme="@android:style/Theme" >
        </activity>
        <activity
            android:name="com.radio6ense.radioScan.LockTagActivity"
            android:label="@string/title_activity_lock_tag" android:configChanges="orientation">
        </activity>
        <activity
            android:name="com.radio6ense.radioScan.KillTagActivity"
            android:label="@string/title_activity_kill_tag" android:theme="@android:style/Theme" android:configChanges="orientation">
        </activity>
        <activity android:name="com.radio6ense.radioScan.RT0005ControlRoomActivity" android:label="@string/rt0005_ctrl_room" android:configChanges="orientation"></activity>
    </application>

</manifest>